/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.label{
	-fx-font-family: "Consolas";
	-fx-font-weight: bold;
}

.text-field{
	-fx-font-family: "Consolas";
	-fx-font-weight: bold;
	-fx-text-fill: black;
    -fx-border-width: 3px;
}

.list-cell{
	-fx-font-weight: bold;
	-fx-font-family:Consolas;
}

#scroll{
	-fx-background-color: rgb(72,72,72);
	-fx-fill: rgb(72,72,72); 
}